@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Profile.Models.Post
@if (!ViewData.ModelState.IsValid)
{
    <div>
        <ul>
            @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
            {
                <li>@error.ErrorMessage</li>
            }
        </ul>
    </div>
}
<h2>Edit Post</h2>

<form asp-action="Edit" method="post">
    <div>
        <label asp-for="Title"></label>
        <input asp-for="Title" />
        <span asp-validation-for="Title"></span>
    </div>
    <div>
        <label asp-for="Category"></label>
        <input asp-for="Category" />
        <span asp-validation-for="Category"></span>
    </div>
    <div>
        <label asp-for="Body"></label>
        <textarea asp-for="Body"></textarea>
        <span asp-validation-for="Body"></span>
    </div>
    <div>
        <label asp-for="User_Id"></label>
        <select asp-for="User_Id" asp-items="@(new SelectList(ViewBag.Users, "Id", "Name", Model.User_Id))">
            <option value="">Select a User</option>
        </select>
        <span asp-validation-for="User_Id"></span>
    </div>


    <button type="submit">Update</button>
</form>
